# Virtual Environment
venv/
env/
ENV/

# User-specific settings
settings.json

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db